# Dependencias
node_modules/

# Credenciales y variables de entorno
.env

# Base de datos local (Evita subir datos personales)
portafolios.json

# Logs de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db